<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<a href="#" id="popupClose">현재창닫기</a>

<script>

$("#popupClose").on("click", function(e){
  e.preventDefault();

  window.close();

});

</script>